@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hotel Transylvania</h1>
    <p>en opplevelse utenom det vanlige</a></p>
    <img src="\Desktop\hotel.jpeg"/>
</div>


